{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block title %}
     Home
{% endblock title %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock css %}

{% block content %}
    <div class="home_page_1">
        <h1>Выберите Удобство</h1>
        <p>Мы предлагаем вам качествыенный и долговечный продукт, спасибо что выбрали нас!</p>
    </div>
    <div class="home_page_2">
        <h6><span class="color_text_home_page_2">——</span>  продукты</h6>

    </div>
{% endblock content %}

