{% extends 'main/layout.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/css/news_home.css' %}">

{% endblock %}

{% block title %}
  Заказы
{% endblock %}

{% block content %}
  <div class="home">
    <h1>Заказ</h1>

    <div class="card-container">

        <div class="card">
          <div class="card-header">Имя: {{ order.имя }}</div>
          <div>Размеры: {{ order.размеры }}</div>
          <div>Стоимость: {{ order.стоимость }}</div>
          <div>Материал: {{ order.материал }}</div>

            <a href="{% url 'news_detail' order.id %}" class="card-link">Посмотреть</a>
          <a href="{% url 'news_delete' order.id %}" class="btn btn-danger" style="">
            <span style="">❌</span>
          </a>
          
          <a href="{% url 'news_update' order.id %}" class="btn btn-info" style="">
            <span style="">✎</span>
          </a>
        </div>
        

   
{% endblock %}
