{% extends 'main/layout.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/css/news_home.css' %}">

{% endblock %}
{% block title %}
  Заказы
{% endblock %}

{% block content %}
  <div class="home">
    <h1>Заказы</h1>
    <div class="card-container">
      {% for el in order %}
        <div class="card">
          <div class="card-header">Имя: {{ el.имя }}</div>
          <div>Размеры: {{ el.размеры }}</div>
          <div>Стоимость: {{ el.стоимость }}</div>
          <div>Материал: {{ el.материал }}</div>

            <a href="{% url 'news_detail' el.id %}" class="card-link">Посмотреть</a>
          <a href="{% url 'news_delete' el.id %}" class="btn btn-danger" style="">
            <span style="">❌</span>
          </a>
          
          <a href="{% url 'news_update' el.id %}" class="btn btn-info" style="">
            <span style="">✎</span>
          </a>
        </div>
        

      {% endfor %}
    </div>
  </div>

  <style>
    
  </style>
{% endblock %}
